<div class="topnav">
  <a class="logo" href="#home">
    <img src="assets/Capture%20d'écran%202024-08-23%20131704.png" alt="Logo"> <!-- Replace with your logo image -->
  </a>
  <div class="nav-links">

    <a  (click)="godashboard()" href="/dashboard">Dashboard</a>
    <a (click)="profile()" href="/admin">Profile</a>
    <a class="active" (click)="about()" href="/header">About</a>
  </div>
  <a class="logout" (click)="logout()" href="/home">Logout</a>
</div>






<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eaboutus1.svg">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        Our Mission
      </p>
      <p class="text-blk subHeadingText">
        Smart fields – precision agriculture
      </p>
      <p class="text-blk description">
        We invest in process solutions, which are based on collecting data on spatial diversity of crops within a field and facilitating their analysis and interpretation. We are also interested in projects associated with the dosage of plant protection and nourishment products.</p>
      <button class="explore">
        Explore
      </button>
    </div>
  </div>
  <div class="responsive-container-block Container bottomContainer">
    <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/xpraup2.svg">
    <div class="allText bottomText">
      <p class="text-blk headingText">
        Our Vision
      </p>
      <p class="text-blk subHeadingText">
        Advanced sensors
      </p>
      <p class="text-blk description">
        Also of particular interest is the Internet of Things (IoT) concept as well as data collection technologies. It is estimated that the number of IoT devices supplied to the agriculture industry will reach 70 million in 2020, pursuant to 20% year on year growth. Most of these sensors are measuring devices: soil acidity, moisture content, temperature, light exposure as well as other factors affecting growth of crops.</p>
      <button class="explore">
        Explore
      </button>
    </div>
  </div>
</div>
